<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1554034483-04fda0d3507b?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .blue {
        color: #2F3C7E;
    }

    .table-container {
        height: calc(100vh - 4rem);
        /* Adjust as needed */
        overflow-y: auto;
    }


    .border {
        border-bottom: 1px solid black;
    }

    .translate-up {
        transform: translateY(-130%);

    }

    .orange {
        color: orange;
    }


    /* State when the input field is focused */
    .focus\:border-blue-500:focus {
        border-top: 0;
        border-bottom: 3px solid #2F3C7E;
    }
</style>

<body class="min-h-screen">
    <div>
        <div class="py-8 cream">
            <a href="/url">

                <div class="max-w-4xl mx-auto text-center">
                    <h1 class="text-4xl font-bold blue mb-4 leading-4">LinkSwift</h1>

                    <p class="text-lg text-gray-800 tracking-wider">Streamline Your Links, Swiftly.<span
                            class="text-3xl">🔗</span>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="h-1/2">
        <div class="p-7 m-7 bg-blue-100  justify-center border-2 border-red-300 shadow-xl flex  items-center ">
            <p class="text-xl font-medium text-blue-600">Shortner URL</p>
            <p class="text-red-500 text-xl bg-white font-medium  m-2 p-2 shadow-lg tracking-wider w-2/5 flex justify-between  rounded-l-lg border "
                id="outputlink">
                url/<%= response.shortUrl %>
                <div class="bg-red-600 m-2 p-2 relative right-4 h-full rounded-r-lg">
                    <button onclick="copytoClipboard()">
                        <img width="24" height="24" src="https://img.icons8.com/material-sharp/24/copy.png" alt="copy"/>
                    </button>
                    
                </div>
                
            </p>
        </div>
        <div class="flex justify-center items-center flex-col">

            <% if(response.qrcode !=="no qr generated" ){ %>
                <p class="mt-7 mb-3 text-xl font-medium text-blue-600">QR for the selected URL</p>
                <div class="flex  items-center gap-10">
                    <img src="data:image/svg+xml;base64,<%= btoa(response.qrcode) %>" class="w-2/3 h-64"
                        alt="qr code" />
                    <button
                        class="bg-blue-500 hover:bg-blue-700 mt-4 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline h-auto"
                        onclick="downloadImage('<%= JSON.stringify(response.qrcode) %>')">Download QR</button>
                </div>
                <% }else{ %>

                    <p class="mt-10 tracking-wide font-medium text-xl text-blue-600">Qr is not selected for this URL, so
                        Qr is not Generated</p>

                    <% } %>
        </div>
    </div>

</body>
<script>
    function downloadImage(response) {
        console.log(response[0])
        
       var svgData=`<!DOCTYPE html><html><head><title>SVG Example</title></head><body>${response}</body></html>`
       console.log(svgData)
        try {
            // Create a blob from SVG data
            var blob = new Blob([svgData], { type: 'image/svg+xml' });

            // Create an anchor element
            var a = document.createElement('a');
            a.href = URL.createObjectURL(blob);
            a.download = 'image.svg'; // Set the download attribute and name of the SVG file

            // Trigger the download
            a.click();
        } catch (error) {
            console.error('Error downloading SVG:', error);
        }
    }

    function copytoClipboard(){
        console.log("heh")
        var copyText = document.getElementById("outputlink").innerText;
        navigator.clipboard.writeText(copyText).then(()=>{
            console.log(copyText)
        })
       

    }
</script>

</html>